body {
  background-color: black;
}

/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 99; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  /* background-color: #111; */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: all 0.5s ease 0s; /* 0.5 second transition effect to slide in the sidenav */
  white-space: nowrap;
  overflow: hidden;
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: white;/*#818181;*/
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color:#818181;
}

.sidenav .panel-body {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  color: white;
  background-color: #475059;
  font-size: 14px;
  display: block;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.sidenav .btn-sidenav {
  background-color:#818181;
  color: white;
  margin-left: 0px;
}

ul.no-bullets {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
  cursor: pointer;
}

ul li:hover{ 
  /* ,ul li.active */
  /* color: yellow; */
}
.showList{
  /* color: gold; */
}
.noShowList{
  color: white !important;
}
.delete-x{
  color: red;
  margin-left: 2px;
  margin-right: 2px;
}
.delete-x:hover{
  color: salmon;
}
.share-arrow{
  color:blue;
  margin-left: 2px;
  margin-right: 2px;
}
.share-arrow:hover{
color:cyan;
}
.add-square{
  color:green;
  margin-left: 2px;
  margin-right: 2px;
}
.add-square:hover{
  color: lightgreen;
}
#add-journal{
  color: green;
}
#add-journal:hover{
  color: lightgreen;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
/* #main {
  transition: margin-left .25s;
  padding: 20px;
} */

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}